<form
  action="#"
  class="nes-grid nes-grid-cols-1-m nes-gap-2"
>
  <div class="
    nes-relative
    nes-bg-form-bg
    nes-rounded
    nes-transition
    nes-grid
    nes-grid-cols-1-m-1-m
    nes-items-center">

    <nes-autosuggest
      border="false"
      label="Start locatie"
      [hiddenLabelIcon]="fromFocus"
      [placeholder]="fromFocus ? 'Adres, station, postcode': ''"
      nes-id="locationFrom"
      name="locationFrom"
      [itemGroups]="mockGroupedAPI"
      (nesOnActive)="fromActive = true; station = false"
      (nesOnHide)="fromActive = false; storeStation($event)"
      (nesOnFocus)="fromFocus = true"
      (nesOnBlur)="fromFocus = false"
      hidden-clear-input
      (nesOnChange)="getStations($event); storeStation($event);"
      [items]="station && stations"
      [value]="getStoredStation('locationFrom')"
      (nesOnItemClick)="focusTo()"
      (nesOnEnter)="focusTo()"
      box-width="175%"
      box-max-height="310px"
    ></nes-autosuggest>

    <!-- Swap button -->
    <div class="nes-w-12 nes-grid nes-place-content-center">
      <nes-button
        icon-leading="swap-horizontal"
        icon-only
        variant="tertiary"
        color="text-info"
        (nesOnClick)="setSwap()"
        class="nes-transition"
        [ngClass]="{'nes-rotate-180' : swap}"
        aria-label="Omwisselen van en naar locaties"
      ></nes-button>
    </div>

    <nes-autosuggest
      border="false"
      label="Waar ga je naar toe?"
      [hiddenLabelIcon]="toFocus"
      [placeholder]="toFocus ? 'Adres, station, postcode': ''"
      nes-id="locationTo"
      name="locationTo"
      [itemGroups]="mockGroupedAPI"
      (nesOnActive)="toActive = true; station = false;"
      (nesOnHide)="toActive = false; storeStation($event)"
      (nesOnFocus)="toFocus = true"
      (nesOnBlur)="toFocus = false"
      class="nes-relative"
      hidden-clear-input
      (nesOnChange)="getStations($event); storeStation($event);"
      [items]="station && stations"
      [value]="getStoredStation('locationTo')"
      box-width="175%"
      box-max-height="310px"
      #locationTo
    ></nes-autosuggest>

    <div class="nes-px-4 nes-flex nes-items-center nes-gap-3">
      <div class="nes-border-l nes-h-6"></div>
      <div role="button" tabindex="0" aria-expanded="false" class="s-btn">
        <div><b>Vertrek:</b> nu</div>
      </div>
      <div class="nes-border-l nes-h-6"></div>
      <div role="button" tabindex="0" aria-expanded="false" class="s-btn">
        <div><b>Reisvoorkeuren</b></div>
      </div>
    </div>
  </div>

  <nes-button
    icon-only
    icon-leading="search"
  ></nes-button>
</form>
