<nes-hero
  src="./assets/img/girl-train.jpg"
  alt="Dame die danst met een koptelefoon op"
  sub-heading="Met de trein van"
  heading="Amsterdam naar Utrecht"
  align-content="bottom"
>

  <div slot="breadcrumb">
    <nes-link
      routerLink="/kaartjes"
      stand-alone
      icon="arrow-left-xs"
      class="nes-relative nes--left-1"
      color="text-light"
    >Losse kaartjes en toeslagen</nes-link>
  </div>

</nes-hero>

<div class="nes-section xl:nes-py-32">
  <nes-container>
    <p class="nes-text-body nes-text-lg lg:nes-text-2xl nes-max-w-prose nes-leading-relaxed">
      Online koop je gemakkelijk een treinkaartje, zonder boekingskosten. Op het
      station stapt u direct in de trein. Zo reis je comfortabel tussen <b>Amsterdam</b>
      en <b>Utrecht</b> in <b>30 minuten</b>. Boek je e-tickets online vanaf <b>€ 10</b>.
    </p>
  </nes-container>
</div>

<section class="nes-section nes-bg-brand-primary xl:nes-py-32">
  <nes-container>
    <nes-heading tag="h2">Koop je e-ticket</nes-heading>
    <div class="
      nes-grid
      lg:nes-grid-cols-2
      nes-gutter
      nes-mt-6
      nes-mb-2">
      <form
        action="#"
        class="nes-max-w-2xl"
      >
        <app-fromto></app-fromto>
        <div class="nes-grid md:nes-grid-cols-1-m nes-gap-6 nes-items-end">
          <nes-datepicker-input
            label="Reisdatum"
            hidden-label
            nes-id="travelDate"
            name="travelDate"
            border="false"
            class="nes-mt-6"
            [value]="today()"
            required
            type="date"
          ></nes-datepicker-input>
          <nes-button routerLink="/kaartjes/checkout">
            Bekijk e-ticketprijs
          </nes-button>
        </div>
      </form>
      <nes-text-list
        list-type="checked"
        size="lg"
        color="text-default"
        class="nes-shrink-0"
      >
        <nes-text-list-item
          list-type="checked"
          size="lg"
          color="text-default"
          *ngFor="let entry of usps"
        >
          {{ entry }}
        </nes-text-list-item>
      </nes-text-list>
    </div>
  </nes-container>
</section>

<section class="nes-section xl:nes-py-32">
  <nes-container>
    <nes-heading
      tag="h2"
      class="nes-max-w-prose"
    >
      Binnen 12 minuten van Utrecht naar Amsterdam
    </nes-heading>
    <div class="nes-mt-8 nes-grid lg:nes-grid-cols-2 nes-gutter">
      <div class="
          nes-rounded
          nes-bg-tint-secondary
          nes-p-5
          nes-space-y-6
          nes-max-w-2xl
        ">
        <ul>
          <li>
            <nes-route location="Amsterdam Centraal"></nes-route>
          </li>
          <li>
            <nes-route
              location="Utrecht Centraal"
              arrival
            ></nes-route>
          </li>
        </ul>
        <nes-price
          price="4.6"
          leading-text="Vanaf"
        ></nes-price>
        <ul class="nes-flex nes-flex-wrap nes-gap-x-6 nes-gap-y-3">
          <li
            *ngFor="let entry of specs"
            class="
                nes-flex
                nes-items-center
                nes-text-default
                nes-gap-2"
          >
            <div class="nes-w-6 nes-h-6 nes-flex nes-place-content-center">
              <nes-icon [name]="entry.icon"></nes-icon>
            </div>
            <p>{{ entry.label }}</p>
          </li>
          <!-- <li class="
              nes-flex
              nes-items-center
              nes-text-default
              nes-gap-2"
            >
              <div class="nes-w-6 nes-h-6 nes-flex nes-place-content-center">
                <nes-rush status="busy"></nes-rush>
              </div>
              <p>Drukker in de trein</p>
            </li> -->
        </ul>
      </div>
      <p class="nes-text-body nes-max-w-prose nes-text-lg nes-leading-relaxed">
        Met de trein van Amsterdam naar Utrecht reist u ontspannen en comfortabel. Het duurt gemiddeld 12 minuten om met
        de trein van Amsterdam naar Utrecht te reizen over een afstand van 16 kilometer. Er vertrekken dagelijks 172
        treinen en de laagste prijs voor een e-ticket is € 4,60.
      </p>
    </div>

  </nes-container>
</section>

<section class="nes-section xl:nes-py-32 nes-border-t">
  <nes-container>
    <div class="nes-max-w-4xl">
      <nes-heading tag="h2">
        Veelgestelde vragen
      </nes-heading>
      <div class="nes-mt-8">
        <nes-expandable
          *ngFor="let entry of faq; let index = index"
          [attr.border-top]="index === 0"
          border-bottom
          [heading]="entry.heading"
        >
          <nes-text>
            {{ entry.body }}
          </nes-text>
        </nes-expandable>
      </div>
      <nes-text class="nes-mt-6">
        Staat je vraag er niet tussen?
        Ga naar <nes-link nes-href="#">Klantenservice</nes-link>.
      </nes-text>
    </div>
  </nes-container>
</section>

<app-footer></app-footer>
