<form
  action="#"
  class="lg:nes-hidden"
>
  <div class="nes-space-y-4">
    <app-fromto></app-fromto>
    <div class="nes-relative">
      <div class="
        nes-grid
        nes-h-8 nes-text-default
        nes-place-content-center
      ">
        ma 28 sep, 23:45
      </div>
      <input
        class="
          nes-text-transparent
          nes-bg-alpha-subtle
          nes-absolute nes-inset-0
          nes-rounded"
        type="datetime-local"
      >
    </div>
    <nes-button routerLink="/reisplanner">
      Plan je reis
    </nes-button>
  </div>
</form>

<div class="nes-hidden lg:nes-block">
  <app-planbar></app-planbar>
</div>
