<div
  class="nes-rounded nes-p-5 nes-relative"
  [ngClass]="{'nes-border': !tinted, 'nes-bg-tint-secondary': tinted}"
>
  <nes-button
    variant="tertiary"
    icon-only
    icon-leading="edit"
    class="nes-absolute nes-top-4 nes-right-4"
  ></nes-button>

  <div class="nes-space-y-4">
    <h4
      class="nes-text-lg nes-text-heading nes-pr-8"
      *ngIf="title"
    >
      {{ title }}
    </h4>

    <nes-button
      *ngIf="button"
      variant="brand"
      width-full
    >
      {{ button }}
    </nes-button>

    <ul class="nes-pr-8">
      <li>
        <nes-route [location]="route.from"></nes-route>
      </li>
      <li>
        <nes-route
          [location]="route.to"
          arrival
        ></nes-route>
      </li>
    </ul>

    <p
      *ngIf="description"
      class="nes-text-body nes-text-sm"
    >
      {{ description }}
    </p>

    <nes-sticker
      *ngIf="sticker"
      compact
      type="offer"
    >
      {{ sticker }}
    </nes-sticker>

    <div class="nes-border-t nes-border-alpha"></div>

    <div class="nes-flex nes-justify-between nes-gap-4">
      <div class="nes-flex nes-items-center nes-gap-1">
        Per maand <nes-tooltip-button (click)="tooltip = !tooltip"></nes-tooltip-button>
      </div>
      <div>
        <nes-price
          [price]="price"
          [discount]="discount"
          size="2xl"
        ></nes-price>
      </div>
    </div>
    <nes-tooltip-content
      [expanded]="tooltip"
      arrow-x="94px"
    >
      Het maandbedrag is exclusief reiskosten buiten het traject.
    </nes-tooltip-content>
  </div>
</div>
