<nes-section class="nes-bg-tint-secondary">
  <nes-container>
    <div class="nes-grid md:nes-grid-cols-7 nes-gap-16 nes-items-center">
      <header class="md:nes-col-span-4">
        <nes-link
          href="#"
          (click)="$event.preventDefault()"
          routerLink="/abonnementen"
          stand-alone
          icon="arrow-left-xs"
          class="nes-relative nes--left-1"
        >Abonnementen</nes-link>
        <nes-heading
          [size]="{xs: '5xl', md: '7xl', lg: '8xl', xl: '9xl'}"
          class="nes-mt-1"
        >
          {{ product.title }}
        </nes-heading>
        <nes-text-list
          list-type="checked"
          size="lg"
          class="nes-mt-6"
          color="text-default"
        >
          <nes-text-list-item *ngFor="let entry of product.usps">
            {{ entry }}
          </nes-text-list-item>
        </nes-text-list>
      </header>
      <div class="
            nes-hidden
            md:nes-block
            nes-max-w-xl
            md:nes-col-span-3
            nes-justify-self-center">
        <svg-icon
          src="./assets/img/hand-percentage.svg"
          [svgStyle]="{ 'width':'100%' }"
        ></svg-icon>
      </div>
    </div>
  </nes-container>
</nes-section>

<nes-section>
  <nes-container>
    <div class="nes-grid nes-gap-12 xl:nes-gap-24 md:nes-grid-cols-2 xl:nes-grid-cols-1-m">
      <aside class="md:nes-order-last xl:nes-w-[480px]">
        <div class="nes-border nes-rounded-lg nes-p-5 nes-space-y-5 nes-sticky nes-top-12">
          <nes-heading
            tag="h3"
            [size]="{xs: 'xl', md: '3xl'}"
          >Bestel {{ product.title }}</nes-heading>
          <nes-radio-panel
            label="Betalingsopties"
            hidden-label
            [options]="[{label:'NS Flex', checked:true}, {label:'Op saldo'}]"
            required
            name="payment"
            nes-id="payment"
          ></nes-radio-panel>
          <nes-text-list>
            <nes-text-list-item *ngFor="let option of product.options">
              {{ option }}
            </nes-text-list-item>
          </nes-text-list>
          <nes-divider></nes-divider>
          <nes-price
            [price]="product.price"
            [discount]="product.discount"
            trailing-text="/ mnd"
          ></nes-price>
          <nes-button
            width-full
            variant="brand"
          >
            Bestellen
          </nes-button>
        </div>
      </aside>
      <main class="nes-pb-[200vh]">
        <nes-heading
          tag="h2"
          [size]="{xs: 'xl', md: '3xl'}"
        >
          Het abonnement voor buiten de spits
        </nes-heading>
        <nes-text class="nes-mt-6">
          Buiten de spits, in het weekend en op feestdagen. Zijn dat de momenten dat je de trein pakt? Dan is NS Flex
          Dal
          Voordeel een voordelige keuze.
        </nes-text>
        <nes-text class="nes-mt-4">
          De meeste reizigers hebben hun abonnementskosten er al met 1 retour buiten de spits
          per maand uit. Je kunt ook kiezen voor een Dal Voordeel-abonnement op saldo. Dan zet je geld op je
          OV-chipkaart
          voordat je reist.
        </nes-text>
      </main>
    </div>
  </nes-container>
</nes-section>
