<section class="nes-bg-tint-secondary">
  <nes-container>
    <div class="nes-grid md:nes-grid-cols-7 md:nes-gap-16 nes-items-center">
      <header class="md:nes-col-span-4">
        <nes-breadcrumb>
          <nes-breadcrumb-item>
            <nes-link
              href="#"
              (click)="$event.preventDefault()"
              routerLink="/abonnementen"
              stand-alone
            >Abonnementen</nes-link>
          </nes-breadcrumb-item>
        </nes-breadcrumb>
        <nes-heading
          [size]="{xs: '5xl', md: '7xl', lg: '8xl', xl: '9xl'}"
          class="nes-mt-2"
        >
          {{ product.title }}
        </nes-heading>
        <nes-text-list
          list-type="checked"
          size="lg"
          class="nes-mt-6"
        >
          <nes-text-list-item *ngFor="let entry of product.usps">
            {{ entry }}
          </nes-text-list-item>
        </nes-text-list>
      </header>
      <div class="nes-max-w-xl md:nes-col-span-3 nes-self-end">
        <svg-icon src="./assets/img/hero-1.svg"></svg-icon>
      </div>
    </div>
  </nes-container>
</section>
