<section class="nes-section nes-bg-brand-primary">
  <nes-container>
    <nes-heading>Koop je treinkaartjes online</nes-heading>
    <form
      action="#"
      class="nes-max-w-xl nes-mt-8"
    >
      <app-fromto></app-fromto>
      <nes-button
        class="nes-mt-6 nes-mb-2"
        routerLink="/kaartjes/checkout"
      >
        Bekijk ticketprijs
      </nes-button>
    </form>
  </nes-container>
</section>

<nes-section>
  <nes-container>
    <nes-heading
      tag="h2"
      weight="normal"
    >Meest gekocht</nes-heading>
    <div class="
          nes-mt-6
          md:nes-mt-8
          nes-grid
          md:nes-grid-cols-2
          xl:nes-grid-cols-3
          nes-gutter">
      <nes-tile-product
        *ngFor="let entry of tickets"
        [heading]="entry.title"
        [iconDetail]="entry.icon"
      >
        <div
          *ngIf="entry.body"
          slot="content"
        >
          <nes-text>
            {{ entry.body }}
          </nes-text>
          <nes-price
            *ngIf="entry.price"
            [price]="entry.price"
            [leadingText]="entry.priceLeading"
            [trailingText]="entry.priceTrailing"
            size="3xl"
            class="nes-mt-2"
          ></nes-price>
          <div
            *ngIf="entry.discount"
            class="
            nes-mt-2
            nes-flex
            nes-gap-2
            nes-items-center
            nes-text-default
            nes-leading-tight"
          >
            <p class="nes-text-3xl nes-font-bold nes-tracking-tight">
              {{ entry.discount }}
            </p>
            <p class="nes-text-sm">
              {{ entry.discountTrailing }}
            </p>
          </div>
        </div>
        <nes-button-group
          slot="footer"
          orientation="row"
        >
          <nes-button
            compact
            variant="brand"
            width-auto
          >
            Direct bestellen
          </nes-button>
          <nes-button
            variant="tertiary"
            compact
          >Lees meer</nes-button>
        </nes-button-group>
      </nes-tile-product>
    </div>

  </nes-container>
</nes-section>

<section class="nes-section nes-pb-0">
  <nes-container></nes-container>
</section>

<app-footer></app-footer>
