<section class="nes-section nes-bg-brand-primary">
  <nes-container>
    <nes-heading>Koop je treinkaartjes online</nes-heading>
    <form
      action="#"
      class="nes-max-w-lg nes-mt-8"
    >
      <div class="
          nes-relative
          nes-bg-form-bg
          nes-rounded
          nes-transition">
        <nes-autosuggest
          border="false"
          label="van"
          nes-id="van"
          name="van"
          [itemGroups]="mockGroupedAPI"
          placeholder="station"
          full-screen
          fixed-label-width="48px"
          (nesOnActive)="fromActive = true"
          (nesOnHide)="fromActive = false"
          class="nes-relative"
          [ngClass]="{'nes-z-10': fromActive}"
        ></nes-autosuggest>
        <nes-autosuggest
          border="false"
          label="naar"
          nes-id="naar"
          name="naar"
          [itemGroups]="mockGroupedAPI"
          placeholder="station"
          full-screen
          fixed-label-width="48px"
          (nesOnActive)="toActive = true"
          (nesOnHide)="toActive = false"
          class="nes-relative"
          [ngClass]="{'nes-z-10': toActive}"
        ></nes-autosuggest>
        <nes-divider class="
          nes-absolute 
          nes-w-full 
          nes-top-1/2 
          nes-px-4
          md:nes-px-5">
        </nes-divider>
        <div
          class="
            nes-absolute
            nes-inset-0
            nes-bg-brand-primary
            nes-pointer-events-none"
          [ngClass]="{'nes-opacity-0': !fromActive}"
        ></div>
      </div>
      <nes-button class="nes-mt-6 nes-mb-2">Bekijk ticketprijs</nes-button>
    </form>
  </nes-container>
</section>

<section class="nes-h-screen">
  <nes-container></nes-container>
</section>
