<div class="
  nes-grid
  lg:nes-grid-cols-2
  nes-gap-16
  nes-overflow-hidden
">
  <div
    class="nes-space-y-8"
    *ngFor="let fontWeight of fontWeights"
  >
    <div *ngFor="let entry of type">
      <div class="nes-text-body nes-font-mono">
        <app-css-code
          util="nes-heading nes-text-{{ entry[0] }}"
          cssProp="font-size"
          cssVal="{{ entry[1] }}"
        ></app-css-code>
      </div>
      <div
        class="nes-truncate nes-mt-1"
        [ngClass]="fontWeight === 'bold' ? 'nes-heading' : 'nes-leading-heading'"
        [style]="{ fontSize: entry[1] }"
      >
        Sexy qua lijf, doch bang voor het zwempak.
      </div>
    </div>
  </div>
</div>

<div class="nes-pt-24">
  <h3 class="nes-heading nes-text-2xl md:nes-text-4xl">
    Line heights
  </h3>
  <div class="nes-grid md:nes-grid-cols-2 xl:nes-grid-cols-4 nes-gap-8 nes-mt-6">
    <div *ngFor="let entry of leading">
      <app-css-code
        util="nes-leading-{{ entry[0] }}"
        cssProp="line-height"
        cssVal="{{ entry[1] }}"
      ></app-css-code>
      <nes-divider class="nes-my-3"></nes-divider>
      <p
        [style]="{lineHeight: entry[1]}"
        class="nes-text-body"
      >
        Sweet fruitcake sweet roll jujubes carrot cake cotton candy. Chocolate marshmallow pastry gingerbread
        bear claw chocolate bar apple pie tiramisu liquorice. Jelly apple pie tiramisu gummies tiramisu soufflé jelly
        beans. Marshmallow gingerbread sweet cookie croissant liquorice cake.
      </p>
    </div>
  </div>
</div>
