<div class="nes-space-y-8">
  <nes-heading
    tag="h2"
    weight="normal"
  >
    Mijn reiskosten
  </nes-heading>

  <nes-divider></nes-divider>

  <div>
    <nes-heading
      tag="h3"
      [size]="{ xs: 'xl', md: '2xl'}"
    >
      Abonnement
    </nes-heading>
    <div class="nes-mt-4">
      <app-tile-product-trip
        title="Traject Vrij 2e klas"
        [tinted]="true"
        button="Bekijk abonnement"
        [price]="266.5"
        (edit)="addTripActive = true"
      ></app-tile-product-trip>
    </div>
  </div>

  <div class="nes-mt-10">
    <nes-heading
      tag="h3"
      [size]="{ xs: 'xl', md: '2xl'}"
    >
      Mijn reizen
    </nes-heading>
    <div class="nes-mt-4 nes-space-y-4">
      <app-tile-product-trip
        sticker="40% korting in de daluren"
        description="Doordeweeks tijdens de daluren, 2x per maand retour"
        [route]="{
              from: 'Leiden Centraal',
              to: 'Leeuwarden Camminghaburen'
            }"
        [price]="0"
        [discount]="69.20"
        (edit)="addTripActive = true"
      ></app-tile-product-trip>
      <app-tile-product-trip
        sticker="40% korting in de daluren"
        description="Doordeweeks tijdens de daluren, 3x per maand retour"
        [route]="{
              from: 'Rotterdam Alexander',
              to: 'Utrecht Lunetten'
            }"
        [price]="0.78"
        [discount]="3.20"
        (edit)="addTripActive = true"
      ></app-tile-product-trip>
      <nes-button
        variant="secondary"
        icon-leading="plus"
        width-full
        (click)="addTripActive = true"
      >
        Reis toevoegen
      </nes-button>
      <app-add-trip
        [active]="addTripActive"
        (close)="addTripActive = false"
      ></app-add-trip>
    </div>
  </div>

  <div>
    <nes-divider></nes-divider>
    <div class="
      nes-mt-2
      nes-px-4
      nes-flex
      nes-justify-between
      nes-items-center
    ">
      <div class="nes-font-bold nes-text-lg">
        Totaal
      </div>
      <div>
        <nes-price
          [price]="310.5"
          size="2xl"
        ></nes-price>
      </div>
    </div>

    <!-- Green persuasion box -->
    <div class="
      nes-mt-3
      nes-px-4
      nes-py-3
      nes-bg-green-50
      nes-text-success-contrast
    ">
      Dit is <b>€ 121,95</b> voordeliger dan reizen zonder een abonnement!
    </div>
  </div>

  <nes-button
    variant="brand"
    width-full
  >Bekijk abonnement</nes-button>
</div>
