<nav class="nes-py-5 md:nes-py-6 nes-shadow-navbar nes-relative nes-z-10 nes-bg-elevated">
  <div class="nes-container nes-flex nes-items-center nes-justify-between">
    <a
      routerLink="/"
      class="nes-cursor-pointer nes-text-heading nes-inline-block"
    >
      <div class="nes-flex nes-gap-6 md:nes-gap-8 nes-items-center">
        <div class="nes-w-16 md:nes-w-[72px]">
          <app-logo></app-logo>
        </div>
        <div>
          <h3 class="nes-font-bold nes-text-lg md:nes-text-xl nes-leading-tight">
            Nessie Demo App
          </h3>
        </div>
      </div>
    </a>
    <nes-button
      variant="tertiary"
      icon-only
      icon-leading="settings"
      aria-label="Schakel naar donkere modus"
      (click)="toggleDarkMode()"
    ></nes-button>
  </div>
</nav>
