<section class="nes-bg-tint-secondary">
  <nes-container>
    <div class="nes-grid md:nes-grid-cols-7 md:nes-gap-16 nes-items-center">
      <header class="nes-py-8 sm:nes-py-16 md:nes-col-span-4">
        <nes-heading [size]="{xs: '6xl', md: '8xl', lg: '9xl', xl: '10xl'}">
          Abonnementen
        </nes-heading>
        <p class="nes-text-default nes-text-xl md:nes-text-3xl">
          NS Flex beweegt met je mee
        </p>
        <a
          routerLink="/keuzehulp"
          class="nes-mt-6 sm:nes-max-w-[280px] nes-block nes-rounded focus:nes-ring nes-transition"
        >
          <nes-tile-container
            padding="false"
            border="false"
          >
            <nes-list-item
              label="Start keuzehulp"
              hover="false"
              indent
              icon-leading="filter"
              color="text-info"
              icon-trailing="chevron-right"
              label-bold
              class="nes-py-[6px]"
              subtext="Help mij kiezen"
            ></nes-list-item>
          </nes-tile-container>
        </a>
      </header>
      <div class="nes-max-w-xl md:nes-col-span-3 nes-self-end">
        <svg-icon src="./assets/img/hero-1.svg"></svg-icon>
      </div>
    </div>
  </nes-container>
</section>

<nes-section *ngFor="let group of subscriptions">
  <nes-container>
    <nes-heading
      tag="h2"
      weight="normal"
    >{{ group.heading }}</nes-heading>
    <div class="nes-mt-6 md:nes-mt-8 nes-grid md:nes-grid-cols-2 xl:nes-grid-cols-3 nes-gutter">
      <nes-tile-product
        *ngFor="let entry of group.products"
        [heading]="entry.title"
        [list]="entry.usps"
        [price]="entry.price"
        [discount]="entry.discount"
        price-trailing-text="/ mnd"
        [meta]="entry.meta"
        [iconDetail]="entry.icon"
        [routerLink]="entry.id"
      >
        <div
          slot="sticker"
          *ngIf="entry.sticker"
        >
          <nes-sticker
            filled
            compact
          >{{ entry.sticker }}</nes-sticker>
        </div>
        <div
          *ngIf="entry.body"
          slot="content"
        >
          <nes-text>
            {{ entry.body }}
          </nes-text>
        </div>
        <div
          slot="footer"
          class="
            nes-flex
            nes-gap-4
            nes-items-center
            nes-justify-between
            nes-h-[42px]"
        >
          <nes-button
            compact
            [variant]="getOddSubs(entry.type) ? 'secondary' : 'brand'"
            width-auto
          >
            Bekijk meer
          </nes-button>
          <nes-checkbox
            *ngIf="!getOddSubs(entry.type)"
            label="Vergelijk"
          ></nes-checkbox>
        </div>
      </nes-tile-product>
    </div>

  </nes-container>
</nes-section>

<div class="nes-section nes-pb-0"></div>
<app-footer></app-footer>
