<div class="
  nes-relative
  nes-bg-form-bg
  nes-rounded
  nes-transition">

  <nes-autosuggest
    border="false"
    label="van"
    nes-id="locationFrom"
    name="locationFrom"
    [itemGroups]="mockGroupedAPI"
    [placeholder]="!fromActive && mobile ? 'Waar vandaan?' : 'station, adres postcode'"
    full-screen
    [fixedLabelWidth]="!mobile ? '44px' : '28px'"
    (nesOnActive)="fromActive = true; station = false"
    (nesOnHide)="fromActive = false; storeStation($event)"
    (nesOnFocus)="fromFocus = true"
    (nesOnBlur)="fromFocus = false"
    class="nes-relative"
    [ngClass]="{'nes-z-raised': !toFocus && !mobile}"
    [hiddenLabelIcon]="mobile"
    hidden-clear-input
    (nesOnChange)="getStations($event); storeStation($event);"
    [items]="station && stations"
    [value]="getStoredStation('locationFrom')"
  ></nes-autosuggest>

  <nes-autosuggest
    border="false"
    label="naar"
    nes-id="locationTo"
    name="locationTo"
    [itemGroups]="mockGroupedAPI"
    [placeholder]="!toActive && mobile ? 'Waar wil je heen?' : 'station, adres postcode'"
    full-screen
    [fixedLabelWidth]="!mobile ? '44px' : '28px'"
    (nesOnActive)="toActive = true; station = false;"
    (nesOnHide)="toActive = false; storeStation($event)"
    (nesOnFocus)="toFocus = true"
    (nesOnBlur)="toFocus = false"
    class="nes-relative"
    [ngClass]="{'nes-z-raised': toFocus && !mobile}"
    [hiddenLabelIcon]="mobile"
    hidden-clear-input
    (nesOnChange)="getStations($event); storeStation($event);"
    [items]="station && stations"
    [value]="getStoredStation('locationTo')"
  ></nes-autosuggest>

  <!-- Divider -->
  <nes-divider class="
    nes-absolute 
    nes-w-full 
    nes-top-1/2 
    nes-pl-[42px]
    nes-pr-5
    md:nes-px-5">
  </nes-divider>

  <!-- Route dots -->
  <div
    class="
    nes-absolute
    nes-top-[19px]
    nes-grid
    md:nes-hidden
    nes-justify-items-center
    nes-left-4
    nes-z-raised"
    [ngClass]="{'nes-invisible': toFocus || fromActive}"
  >
    <div class="
      nes-w-3
      nes-h-3
      nes-border-2
      nes-border-info
      nes-rounded-full
      nes-bg-form-bg
      nes-transition
      nes-relative
      nes-top-px">
    </div>
    <div class="
      nes-border-l-2
      nes-border-info
      nes-h-[36px]">
    </div>
    <div class="
      nes-w-3
      nes-h-3
      nes-border-2
      nes-border-info
      nes-rounded-full
      nes-bg-form-bg
      nes-transition
      nes-relative
      nes--top-px">
    </div>
  </div>

  <!-- Swap button -->
  <div
    class="
    nes-absolute
    nes-inset-y-4
    nes-right-0
    nes-w-16
    nes-grid
    nes-place-content-center
    nes-bg-form-bg
    nes-z-raised
    nes-transition"
    [ngClass]="{'nes-opacity-0': toFocus || fromFocus || fromActive}"
  >
    <nes-button
      icon-leading="swap-vertical"
      icon-only
      variant="tertiary"
      color="text-info"
      (nesOnClick)="setSwap()"
      class="nes-transition"
      [ngClass]="{'nes-rotate-180' : swap}"
      aria-label="Omwisselen van en naar locaties"
    ></nes-button>
  </div>

  <!-- Yellow background to create gap below first search input -->
  <div
    class="
      nes-absolute
      nes-inset-0
      nes-bg-brand-primary
      nes-pointer-events-none"
    [ngClass]="{'nes-opacity-0': !fromActive}"
  ></div>
</div>
