<nes-hero
  stretch
  text-color="dark"
  flow="false"
  src="./assets/img/bruce-mars-DBGwy7s3QY0-unsplash.jpg"
  alt="Dame die danst met een koptelefoon op"
  heading="NS Flex is hét abonnement dat met je meebeweegt"
  intro-text="Wat je vandaag of morgen ook gaat doen, met NS Flex reis je altijd met voordeel en gemak."
>
  <div slot="button">
    <nes-button width-auto>Bekijk abonnementen</nes-button>
  </div>
</nes-hero>

<nes-section [spacing]="{xl: {top: 32, bottom: 32}}">
  <nes-container>
    <nes-heading tag="h2">
      Voordelen van NS Flex
    </nes-heading>
    <ul class="nes-mt-8 nes-grid md:nes-grid-cols-3 nes-gap-12 md:nes-gap-16 nes-max-w-5xl">
      <li
        *ngFor="let entry of usps"
        class="nes-space-y-4"
      >
        <div class="
            nes-w-24
            nes-h-24
            nes-rounded-full            
            nes-bg-tint-secondary
            nes-flex nes-items-center nes-justify-center">
          <nes-icon
            [name]="entry.icon"
            color="text-info"
            class="nes-scale-[2]"
          >
          </nes-icon>
        </div>
        <nes-heading
          tag="h3"
          [size]="{xs:'xl', md:'2xl'}"
        >
          {{ entry.title }}
        </nes-heading>
        <nes-text size="lg">
          {{ entry.description }}
        </nes-text>
      </li>
    </ul>
  </nes-container>
</nes-section>

<nes-section
  background-color="bg-tint-primary"
  [spacing]="{xl: {top: 32, bottom: 32}}"
>
  <nes-container>
    <div class="nes-space-y-8 md:nes-space-y-12">
      <header>
        <nes-heading tag="h2">
          Meest gekozen abonnementen
        </nes-heading>
        <nes-link
          stand-alone
          routerLink="/abonnementen"
          href="#"
          (click)="$event.preventDefault()"
          class="nes-mt-2"
        >Bekijk alle abonnementen</nes-link>
      </header>
      <div class="nes-grid md:nes-grid-cols-2 xl:nes-grid-cols-3 nes-gutter">
        <nes-tile-product
          border="false"
          *ngFor="let entry of subscriptions"
          [heading]="entry.title"
          [list]="entry.usps"
          [price]="entry.price"
          [discount]="entry.discount"
          price-trailing-text="/ mnd"
          [meta]="entry.meta"
        >
          <div
            slot="sticker"
            *ngIf="entry.sticker"
          >
            <nes-sticker
              filled
              compact
            >{{ entry.sticker }}</nes-sticker>
          </div>
          <div slot="footer">
            <nes-button
              compact
              variant="brand"
              width-auto
            >
              Bekijk abonnement
            </nes-button>
          </div>
        </nes-tile-product>
      </div>
    </div>
  </nes-container>
</nes-section>

<nes-section [spacing]="{xl: {top: 32, bottom: 32}}">
  <nes-container>
    <div class="nes-max-w-4xl nes-mx-auto">
      <div class="nes-grid md:nes-grid-cols-2 nes-gap-6 md:nes-gap-16 nes-items-center">
        <div class="nes-space-y-5 nes-order-last md:nes-order-none">
          <nes-heading tag="h2">
            Vind het abonnement dat bij je past
          </nes-heading>
          <nes-text size="lg">
            Doe een snelle check om te ontdekken welk abonnement het meest
            voordelig is voor jou. Binnen 3 minuten advies op maat.
          </nes-text>
          <nes-button
            variant="secondary"
            width-auto
          >Start keuzehulp</nes-button>
        </div>
        <img
          src="./assets/img/atikh-bana-_KaMTEmJnxY-unsplash.jpg"
          alt="img"
          class="nes-rounded-lg"
        >
      </div>
    </div>
  </nes-container>
</nes-section>

<nes-section
  background-color="bg-brand-secondary"
  [spacing]="{md: {top: 24, bottom: 24}, xl: {top: 32, bottom: 32}}"
>
  <nes-container>
    <div class="nes-max-w-4xl nes-mx-auto">
      <div class="nes-grid md:nes-grid-flow-col nes-gap-6 md:nes-gap-16 nes-items-center">
        <img
          src="./assets/img/marit.jpg"
          alt="img"
          class="nes-rounded-full nes-w-[160px]"
        >
        <div class="nes-space-y-4">
          <nes-text
            size="lg"
            italic
            color="text-light"
          >
            “Ik reis elke maand weer anders. Soms veel in het weekend,
            of ik pak 's avonds na het sporten de trein. Fijn dat ik
            mijn NS Flex-abonnement daarop kan aanpassen en zo slim
            bespaar op mijn reiskosten. Waar ga jij vandaag heen?”
          </nes-text>
          <nes-text color="text-light">— Marit</nes-text>
        </div>
      </div>
    </div>
  </nes-container>
</nes-section>

<nes-section [spacing]="{xl: {top: 32, bottom: 32}}">
  <nes-container>
    <nes-heading tag="h2">
      Doe meer met NS Flex
    </nes-heading>
    <ul class="nes-mt-8 nes-grid md:nes-grid-cols-3 nes-gap-12 md:nes-gap-16 nes-max-w-5xl">
      <li
        *ngFor="let entry of more"
        class="nes-space-y-4"
      >
        <div class="
            nes-w-24
            nes-h-24
            nes-rounded-full            
            nes-border
            nes-flex nes-items-center nes-justify-center">
          <nes-icon
            [name]="entry.icon"
            color="text-brand-primary"
            class="nes-scale-[2]"
          >
          </nes-icon>
        </div>
        <nes-heading
          tag="h3"
          [size]="{xs:'xl', md:'2xl'}"
        >
          {{ entry.title }}
        </nes-heading>
        <nes-text color="text-subtle">
          {{ entry.description }}
        </nes-text>
      </li>
    </ul>
  </nes-container>
</nes-section>

<nes-section background-color="bg-tint-secondary">
  <nes-container>
    <div class="nes-max-w-5xl nes-mx-auto">
      <div class="nes-grid md:nes-grid-cols-2 nes-gap-4 md:nes-gap-8 nes-items-center">
        <div class="nes-order-last md:nes-order-none">
          <nes-heading tag="h2">
            Heb je al een abonnement? Log in op Mijn NS en wijzig je abonnement.
          </nes-heading>
          <nes-button
            variant="brand"
            class="nes-mt-6"
            width-auto
          >
            Inloggen
          </nes-button>
        </div>
        <img
          src="./assets/img/mijn-ns-mobile.png"
          alt="img"
          class="nes-rounded-lg"
        >
      </div>
    </div>
  </nes-container>
</nes-section>

<nes-section [spacing]="{xl: {top: 32, bottom: 32}}">
  <nes-container>
    <nes-heading tag="h2">
      Veelgestelde vragen over NS Flex
    </nes-heading>
    <div class="nes-mt-8 nes-max-w-3xl">
      <nes-expandable
        *ngFor="let entry of faq; let index = index"
        [attr.border-top]="index === 0"
        border-bottom
        [heading]="entry.heading"
      >
        <nes-text>
          {{ entry.body }}
        </nes-text>
      </nes-expandable>
    </div>
    <nes-text class="nes-mt-6">
      Staat je vraag er niet tussen?
      Ga naar <nes-link href="#">Klantenservice</nes-link>.
    </nes-text>
  </nes-container>
</nes-section>

<nes-section
  [spacing]="{xl: {top: 32, bottom: 32}}"
  background-color="bg-tint-primary"
>
  <nes-container>
    <nes-heading
      tag="h2"
      class="nes-sr-only"
    >
      Kunnen we je hiermee nog overtuigen?
    </nes-heading>
    <ul class="nes-grid sm:nes-grid-cols-2 lg:nes-grid-cols-3 nes-gutter">
      <li
        *ngFor="let entry of convince"
        class="nes-p-5 nes-rounded nes-bg-elevated nes-space-y-4"
      >
        <div class="
          nes-h-12
          nes-flex nes-items-center">
          <nes-icon
            [name]="entry.icon"
            color="text-brand-primary"
            class="nes-scale-[2] nes-origin-left"
          >
          </nes-icon>
        </div>
        <nes-heading
          tag="h3"
          [size]="{xs:'xl', md:'2xl'}"
        >
          {{ entry.heading }}
        </nes-heading>
        <nes-text size="lg">
          {{ entry.description }}
        </nes-text>
      </li>
    </ul>
  </nes-container>
</nes-section>

<app-footer></app-footer>