<div #calendar>
  <button
    class="c-planner-btn"
    (click)="$event.preventDefault(); toggleModal()"
  >
    <div>
      <b>{{ depArrToggle }}:</b> {{ getTimeNow() }}
    </div>
  </button>
  <div
    *ngIf="show"
    class="s-modal"
    [ngClass]="{'s-fade-out': !active}"
  >
    <div class="nes-flex nes-gap-6">
      <img
        src="./assets/img/calendar.svg"
        alt="calendar"
      >
      <div class="nes-space-y-6 nes-w-full">
        <nes-radio-panel
          label="Vertek of aankomst"
          hidden-label
          name="depart"
          nes-id="depart"
          (input)="depArrToggle === 'Vertrek' ? 
            depArrToggle = 'Aankomst' : 
            depArrToggle = 'Vertrek'"
          [options]="[{
              label: 'Vertrek',
              checked: true
            },{
              label: 'Aankomst'
            }]"
        >
        </nes-radio-panel>
        <div class="
          nes-bg-elevated
          nes-p-6
          nes-rounded
        ">
          <div class="
            nes-flex
            nes-gap-6
            nes-items-center
          ">
            <input
              class="
              nes-w-full
              nes-text-center
              nes-text-[calc(1.5vw+32px)]
              nes-font-bold
              nes-text-heading
              nes-leading-none
              nes-tracking-[0.02em]
            "
              [value]="time"
              type="text"
              maxlength="5"
              name="tijd"
              id="tijd"
              autocomplete="off"
            />
            <div class="nes-flex nes-items-center nes-gap-3">
              <nes-button
                icon-leading="minus"
                icon-only
                variant="secondary"
                (click)="changeTime('-')"
              ></nes-button>
              <nes-button
                icon-leading="plus"
                icon-only
                variant="secondary"
                (click)="changeTime('+')"
              ></nes-button>
            </div>
          </div>
        </div>
        <nes-button
          icon-leading="refresh"
          variant="secondary"
          width-full
          (click)="setTimeNow()"
        >Nu</nes-button>
      </div>
    </div>
  </div>
</div>
