<app-selectable [active]="checked">
  <nes-tile-product
    border="false"
    hover="false"
    shadow="false"
    [list]="usps"
  >
    <header slot="header">
      <div role="doc-subtitle">
        {{ subtitle }}
      </div>

      <nes-heading
        tag="h3"
        [size]="{ xs: 'xl', md: '2xl'}"
      >
        {{ title }}
      </nes-heading>

      <div
        *ngIf="price"
        class="
          nes-absolute
          nes-top-0 nes-right-0
          nes-grid nes-justify-items-end"
      >
        <nes-price
          [price]="price"
          trailing-text="/ mnd"
          stacked
          size="xl"
        ></nes-price>

        <div class="
          nes-text-subtle
          nes-text-xs
          nes-max-w-[16ch]
          nes-text-right
          nes-mt-0.5
        ">
          Incl. abonnements- en reiskosten
        </div>
      </div>

    </header>
  </nes-tile-product>
</app-selectable>
