<section class="nes-py-12 md:nes-py-20 xl:nes-py-24 nes-bg-brand-primary">
  <nes-container>
    <nes-heading [size]="{md: '6xl', xl: '8xl'}" class="nes-sr-only md:nes-not-sr-only">
      Waar ga jij naar toe?
    </nes-heading>
    <form
      action="#"
      class="nes-max-w-xl nes-pb-32 md:nes-mt-8"
    >
      <app-fromto></app-fromto>
      <nes-button
        class="nes-mt-6"
        routerLink="/planner"
      >
        Plan je reis
      </nes-button>
    </form>

  </nes-container>
</section>

<div class="nes-container nes--mt-32">
  <nes-hero
    rounded
    src="./assets/img/bataviastad-welkom-terras.jpg"
    alt="Batavia Stad"
    heading="Een dagje naar de Batavia Stad Fashion Outlet?"
    intro-text="Trein + Koffie + VIP Pass"
  >
    <div slot="price">
      <nes-price
        price="30"
        color="text-light"
      >
      </nes-price>
    </div>
    <div slot="button">
      <nes-button
        width-auto
        variant="brand"
        nes-href="https://www.ns.nl/spoordeelwinkel/uitjes/batavia-stad-fashion-outlet.html"
      >Bekijk meer</nes-button>
    </div>
  </nes-hero>
</div>

<nes-section></nes-section>
