<nes-section>
  <nes-container>
    <ul class="nes-grid nes-gap-3 nes-mb-8">
      <li *ngFor="let entry of routes">
        <nes-link stand-alone [routerLink]="entry.url" font-size="lg" class="nes-cursor-pointer">
          {{ entry.name }}
        </nes-link>
      </li>
    </ul>
    <ul class="nes-max-w-lg md:nes-border md:nes-rounded-lg md:nes-p-2">
      <li *ngFor="let entry of routes">
        <a [routerLink]="entry.url" class="nes-block nes-rounded focus:nes-ring-center md:nes-px-3">
          <nes-list-item [label]="entry.name" [iconLeading]="entry.icon" icon-trailing="chevron-right"></nes-list-item>
        </a>
      </li>
    </ul>
  </nes-container>
</nes-section>
