<nes-section>
  <nes-container>
    <div class="nes-grid md:nes-grid-cols-2 nes-gap-6 md:nes-gap-16 nes-items-center">
      <div>
        <nes-heading [size]="{xs: '6xl', md: '8xl', lg: '9xl', xl: '10xl'}">Pages</nes-heading>
        <ul class="
              nes-mt-6
              nes-space-y-2
              nes-relative
              md:nes-mt-8
              md:nes-bg-elevated
              md:nes-border
              md:nes-border-subtle
              md:nes-rounded-lg
              md:nes-p-2">
          <li *ngFor="let entry of routes">
            <a
              [routerLink]="entry.url"
              class="nes-block nes-rounded focus:nes-ring-center md:nes-px-3 nes-transition"
            >
              <nes-list-item
                [subtext]="entry.subtext"
                icon-trailing="chevron-right"
              >
                <nes-heading
                  tag="h3"
                  size="lg"
                  slot="label"
                >{{ entry.name }}</nes-heading>
              </nes-list-item>
            </a>
          </li>
        </ul>
      </div>
      <div class="nes-max-w-lg nes-justify-self-center nes-w-full">
        <svg-icon src="./assets/img/nessie.svg"></svg-icon>
      </div>
    </div>
  </nes-container>
</nes-section>
