<div class="nes-fixed nes-inset-0 nes-bg-elevated"></div>

<nes-container
  variant="narrow"
  class="nes-relative"
>
  <h1 class="nes-sr-only">
    Vul je gegevens in om een treinkaartje te kopen
  </h1>

  <div class="nes-grid md:nes-grid-cols-3-2 nes-gutter nes-gap-y-0">
    <form
      action=""
      class="nes-max-w-lg nes-order-last md:nes-order-none"
    >
      <nes-section>
        <nes-heading
          tag="h2"
          class="nes-mb-8"
        >
          Reisgegevens
        </nes-heading>
        <div class="nes-space-y-8">
          <nes-input
            label="Reisdatum"
            nes-id="travel-date"
            required
            type="date"
            value="2022-04-28"
            max-width="240px"
          ></nes-input>
          <nes-stepper
            label="Volwassene"
            value="1"
            help-text="12+ jaar"
            min="1"
          ></nes-stepper>
          <nes-stepper
            label="Kind"
            value="0"
            help-text="4 - 11 jaar"
            min="0"
          ></nes-stepper>
          <nes-radio-panel
            label="Type reis"
            hidden-label
            required
            name="radio-panel-a"
            nes-id="radio-panel-a"
            [options]="[
              {label: 'Enkele reis', checked: true},
              {label: 'Retour'}
            ]"
          >
          </nes-radio-panel>
          <nes-radio-panel
            label="Klasse"
            hidden-label
            required
            name="radio-panel-b"
            nes-id="radio-panel-b"
            [options]="[
              {label: '2e klas', checked: true},
              {label: '1e klas'}]"
          >
          </nes-radio-panel>
          <nes-radio-panel
            label="Reizen met korting"
            tooltip="Samenreisticket is geldig buiten de spits. Doordeweeks tot 6.30 uur, van 9.00 tot 16.00 uur en na 18.30 uur.
            Weekend- en feestdagen de hele dag (m.u.v. Koningsdag)."
            required
            name="radio-panel-c"
            nes-id="radio-panel-c"
            [options]="[
              {label: 'Vol tarief', checked: true},
              {label: 'Samenreisticket'}
            ]"
          >
          </nes-radio-panel>
        </div>
      </nes-section>

      <nes-section class="nes-space-y-8">
        <nes-heading tag="h2">Persoonsgegevens</nes-heading>
        <nes-input
          label="Volledige naam"
          nes-id="full-name"
          required
        ></nes-input>
        <nes-input
          label="E-mailadres"
          nes-id="email"
          required
          type="email"
          tooltip="Na betaling kun je de e-tickets downloaden en ontvang je deze in je mail."
        ></nes-input>
      </nes-section>

      <nes-section class="nes-space-y-8">
        <nes-heading tag="h2">Betaling</nes-heading>
        <nes-radio-panel
          label="Betaalmiddel"
          required
          name="radio-panel-d"
          nes-id="radio-panel-d"
          [options]="[
            {label: 'iDeal', checked: true},
            {label: 'Creditcard'}
          ]"
        >
        </nes-radio-panel>
        <nes-select
          label="Kies je bank"
          hidden-label
          required
          [options]="[
            {label:'Kies je bank', disabled: true, selected: true},
            {label:'Rabobank'},
            {label:'ING'},
            {label:'ASN Bank'},
            {label:'Triodos'},
            {label:'bunq'},
            {label:'ABN AMRO'},
            {label:'Handelsbanken'},
            {label:'SNS Bank'}
          ]"
        ></nes-select>
      </nes-section>

      <nes-section class="nes-space-y-8">
        <nes-heading tag="h2">Voorwaarden</nes-heading>
        <div>
          <nes-checkbox
            label="Ik blijf graag periodiek op de hoogte van (persoonlijke) aanbiedingen, acties en laatste nieuws van NS."
            nes-id="conditions"
            name="conditions"
            selected
          ></nes-checkbox>
          <nes-checkbox
            label="Ik ga akkoord met:"
            nes-id="news"
            name="news"
          ></nes-checkbox>
          <p class="nes-pl-10 nes--mt-2 nes-text-xs nes-text-subtle">
            De vervoervoorwaarden van NS (AVR-NS), de Algemene Voorwaarden Stads- en Streekvervoer (Als u reist met een
            andere vervoerder), het Privacybeleid NS en de Voorwaarden E-ticket en Mobiel ticket
          </p>
        </div>
      </nes-section>

      <!-- ---------------------------------------------- -->
      <!-- CTA -->
      <!-- ---------------------------------------------- -->
      <nes-button variant="brand">
        Betaal € 15,80
      </nes-button>
    </form>

    <!-- ---------------------------------------------- -->
    <!-- Side bar receipt -->
    <!-- ---------------------------------------------- -->
    <aside class="nes-section nes-pb-0">
      <div class="nes-sticky nes-top-12">
        <nes-heading
          tag="h2"
          class="nes-sr-only"
        >
          Overzicht
        </nes-heading>
        <div class="
            nes-border
            nes-rounded-lg
            nes-p-5
            nes-space-y-4
            nes-text-default">
          <div>
            <nes-route [location]="getStoredStation('locationFrom') || 'Utrecht Centraal'"></nes-route>
            <nes-route
              [location]="getStoredStation('locationTo') || 'Rotterdam Alexander'"
              arrival
            ></nes-route>
          </div>
          <div class="nes-flex nes-items-center nes-gap-2 nes-text-body">
            <nes-icon
              name="calendar"
              class="nes-relative nes--top-px"
              color="text-default"
            ></nes-icon>
            donderdag 28 april 2022
          </div>
          <nes-divider></nes-divider>
          <div class="nes-space-y-1">
            <p class="">
              1 volwassene
            </p>
            <div class="nes-flex nes-justify-between">
              <p class="nes-text-body">1× Enkele reis, 2e klas</p>
              <p>€ 15,80</p>
            </div>
          </div>
          <nes-divider></nes-divider>
          <div class="nes-flex nes-justify-between nes-items-center">
            <p>Totaal</p>
            <nes-price
              price="15.8"
              size="2xl"
            ></nes-price>
          </div>
        </div>
      </div>
    </aside>
  </div>
</nes-container>

<div class="nes-section"></div>
<app-footer class="nes-relative"></app-footer>
