<div class="
  nes-sticky
  nes-top-0
  nes-py-4
  nes-bg-elevated
  nes-z-navigation
  nes-shadow-navbar
  nes-border-t
  nes-border-subtle
">
  <div class="nes-container">
    <ul class="
      nes-flex
      nes-items-center
      nes-gap-8
      nes-relative
      nes--top-px
    ">
      <li>
        <a routerLink="./" fragment="colors">
          Colors
        </a>
      </li>
      <li>
        <a routerLink="./" fragment="typography">
          Typography
        </a>
      </li>
    </ul>
  </div>
</div>
