<section class="nes-py-12 md:nes-py-16 nes-bg-brand-primary">
  <div class="nes-container">
    <div class="nes-max-w-5xl nes-mx-auto">

      <div>
        <h1 class="nes-sr-only">
          Reisplanner
        </h1>
      </div>

      <app-planner></app-planner>
    </div>
  </div>
</section>

<nes-section>
  <nes-container>
    <h2 class="
      nes-heading 
      nes-text-[calc(8vw+16px)] 
      nes-leading-[1.1]
      nes-max-w-2xl
      sm:nes-pt-20">
      Dit is de reisplanner
    </h2>
  </nes-container>
</nes-section>
