<section class="nes-pt-10 lg:nes-pt-16">
  <nes-container>
    <nes-heading>Geld terug bij vertraging</nes-heading>
    <nes-text class="nes-mt-6 nes-max-w-prose">
      Heeft u minimaal 30 minuten vertraging gehad bij NS dan kunt u met dit formulier een aanvraag voor een
      vergoeding indienen. U kunt uw aanvraag ook indienen via Mijn NS, dat gaat nóg eenvoudiger.</nes-text>

    <div class="nes-pt-10 lg:nes-pt-16">
      <nes-divider type="brand"></nes-divider>
    </div>
  </nes-container>
</section>


<nes-container>
  <form class="nes-max-w-md">
    <nes-section class="nes-space-y-8">
      <nes-heading tag="h2">Persoonsgegevens</nes-heading>
      <nes-input label="Voornaam"></nes-input>
    </nes-section>
  </form>
</nes-container>
