<div class="nes-space-y-24">
  <div *ngFor="let category of colorCategories">
    <h3 class="nes-heading nes-text-2xl md:nes-text-4xl nes-capitalize">
      {{ category.title }}
    </h3>
    <ul class="
      nes-mt-6
      nes-grid
      nes-grid-cols-2
      sm:nes-grid-cols-3
      md:nes-grid-cols-4
      xl:nes-grid-cols-1
      nes-gap-4
      sm:nes-gap-6
      xl:nes-gap-0
    ">

      <li
        *ngFor="let entry of category.colors; let index = index"
        class="
          nes-p-2
          xl:nes-px-0
          nes-bg-elevated
          nes-border
          xl:nes-border-[0]
          xl:first:nes-border-t
          xl:nes-border-b
          nes-border-subtle
          nes-rounded-lg
          xl:nes-rounded-none"
      >
        <div class="
          nes-grid
          nes-gap-1
          xl:nes-grid-cols-5
          xl:nes-gap-8
          xl:nes-items-center
        ">
          <div
            [style]="{backgroundColor: entry[1]}"
            class="nes-pb-16 nes-rounded nes-border nes-border-alpha-black-75 nes-mb-1 xl:nes-mb-0"
          ></div>

          <app-color-data
            key="token:"
            value="{{ entry[0] }}"
          ></app-color-data>

          <app-color-data
            [ngClass]="{'nes-hidden xl:nes-block': category.title === 'Palet'}"
            key="palet:"
            value="{{ getColorPalet(entry[1]) }}"
          ></app-color-data>

          <app-color-data
            key="RGB:{{ getRGBA(entry[1]) }}"
            value="{{ getColorRGB(entry[1]) }}"
          ></app-color-data>

          <app-color-data
            *ngIf="getColorHex(entry[1])"
            key="HEX:"
            value="{{ getColorHex(entry[1]) }}"
          ></app-color-data>
        </div>
      </li>
    </ul>
  </div>
</div>
