<div class="nes-space-y-24">
  <div *ngFor="let category of colorCategories">
    <h3 class="nes-heading nes-text-2xl md:nes-text-4xl nes-capitalize">
      {{ category.title }}
    </h3>
    <ul class="
      nes-mt-6
      nes-grid
      nes-grid-cols-2
      md:nes-grid-cols-4
      xl:nes-grid-cols-6
      nes-gap-4
      sm:nes-gap-6
    ">

      <li
        *ngFor="let entry of category.colors; let index = index"
        class="nes-p-2 nes-bg-elevated nes-border nes-border-subtle nes-rounded-lg"
      >
        <div
          [style]="{backgroundColor: entry[1]}"
          class="nes-pb-[33%] nes-rounded nes-border nes-border-alpha-black-75"
        ></div>
        <div class="
          nes-mt-2
          nes-space-y-1
        ">
          <app-color-data
            key="token"
            value="{{ entry[0] }}"
          ></app-color-data>

          <app-color-data
            *ngIf="category.title !== 'Palet'"
            key="palet"
            value="{{ getColorPalet(entry[1]) }}"
          ></app-color-data>

          <app-color-data
            key="RGB{{ getRGBA(entry[1]) }}"
            value="{{ getColorRGB(entry[1]) }}"
          ></app-color-data>

          <app-color-data
          *ngIf="getColorHex(entry[1])"
            key="HEX"
            value="{{ getColorHex(entry[1]) }}"
          ></app-color-data>
        </div>
      </li>
    </ul>
  </div>
</div>
