/* You can add global styles to this file; and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NS Sans';
  src: url('./assets/fonts/nssans-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NS Sans';
  src: url('./assets/fonts/nssans-italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'NS Sans';
  src: url('./assets/fonts/nssans-bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NS Sans';
  src: url('./assets/fonts/nssans-bolditalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

* {
  @apply focus:nes-outline-none;
  -webkit-tap-highlight-color: transparent;
}

html {
  @apply nes-bg-default nes-transition;
}

html.is-dark {
  --nes-color-bg-default: var(--nes-color-gray-900);
  --nes-color-bg-elevated: var(--nes-color-gray-800);
  --nes-color-bg-elevated-pressed: var(--nes-color-gray-700);
  --nes-color-bg-alpha-subtle: var(--nes-alpha-white-50);
  --nes-color-bg-alpha-medium: var(--nes-alpha-white-75);
  --nes-color-bg-alpha-strong: var(--nes-alpha-white-100);
  --nes-color-bg-brand-primary: var(--nes-color-gray-800);
  --nes-color-bg-brand-secondary: var(--nes-color-gray-800);
  --nes-color-bg-tint-primary: var(--nes-color-gray-700);
  --nes-color-bg-tint-primary-medium: var(--nes-color-gray-700);
  --nes-color-bg-tint-secondary: #071D41;
  --nes-color-text-default: var(--nes-color-gray-100);
  --nes-color-text-heading: var(--nes-color-gray-100);
  --nes-color-text-body: var(--nes-color-gray-300);
  --nes-color-text-subtle: var(--nes-color-gray-400);
  --nes-color-text-cta-default: var(--nes-color-light-blue-400);
  --nes-color-text-cta-pressed: var(--nes-color-light-blue-50);
  --nes-color-text-info: var(--nes-color-gray-100);
  --nes-color-text-brand-secondary: var(--nes-color-yellow);
  --nes-color-border-info: var(--nes-color-light-blue-400);
  --nes-color-bg-info: var(--nes-color-light-blue-400);
  --nes-color-border-default: var(--nes-alpha-white-100);
  --nes-color-border-subtle: transparent;
  --nes-color-border-brand-primary: var(--nes-color-yellow-700);
  --nes-color-button-tertiary-bg-pressed: var(--nes-alpha-white-50);
  --nes-color-button-tertiary-text-pressed: var(--nes-color-light-blue-400);
  --nes-color-button-tertiary-text: var(--nes-color-light-blue-400);
  --nes-color-button-secondary-bg: var(--nes-alpha-white-50);
  --nes-color-button-secondary-bg-pressed: var(--nes-alpha-white-75);
  --nes-color-button-secondary-text-pressed: var(--nes-color-light-blue-400);
  --nes-color-button-secondary-text: var(--nes-color-light-blue-400);
  --nes-color-button-primary-bg-pressed: var(--nes-color-blue-700);
  --nes-color-button-primary-bg: var(--nes-color-blue-600);
  --nes-color-button-primary-text: var(--nes-color-white);
  --nes-color-button-brand-focus: var(--nes-color-white);
  --nes-color-form-bg: var(--nes-color-gray-700);
  --nes-color-form-border: transparent;
  --nes-color-form-border-pressed: var(--nes-alpha-white-50);
  --nes-color-form-text: var(--nes-color-gray-100);
  --nes-color-form-error: var(--nes-color-red-400);
  --nes-color-form-helptext: var(--nes-color-gray-400);
  --nes-color-form-label: var(--nes-color-gray-100);
  --nes-color-form-val: var(--nes-color-gray-100);
  --nes-color-form-val-checked: var(--nes-color-gray-100);
  --nes-color-form-placeholder: var(--nes-color-gray-500);
  --nes-color-form-icon: var(--nes-color-light-blue-400);
  --nes-color-radio-panel-bg: var(--nes-color-gray-700);
  --nes-color-radio-panel-bg-checked: var(--nes-color-gray-800);
  --nes-color-focus-default: var(--nes-color-light-blue-400);
  --nes-color-focus-pressed: var(--nes-color-light-blue-400);
  --nes-color-toggle-bg: var(--nes-alpha-white-100);
  --nes-color-hero-text-dark: var(--nes-color-gray-800);
  --nes-color-list-item-icon: var(--nes-color-light-blue-400);
  --nes-color-chipcard-input-border-pressed: var(--nes-color-gray-400);
  --nes-color-toggle-knob-bg: var(--nes-color-gray-100);
  --nes-color-message-text: var(--nes-color-gray-100);
  --nes-color-message-inline-border: transparent;
  --nes-color-badge-default-bg: var(--nes-color-blue-600);
  --nes-color-badge-alert-bg: var(--nes-color-red-600);
  --nes-color-tooltip-bg: var(--nes-color-blue-600);
  --nes-color-tooltip-text: var(--nes-color-gray-100);

  --nes-color-sticker-subtle-filled-bg: var(--nes-alpha-white-100);
  --nes-color-sticker-subtle-filled-text: var(--nes-color-gray-100);
  --nes-color-sticker-subtle-border: var(--nes-alpha-white-100);
  --nes-color-sticker-subtle-text: var(--nes-color-gray-400);
  --nes-color-sticker-brand-filled-bg: var(--nes-color-yellow);
  --nes-color-sticker-brand-filled-text: var(--nes-color-blue);
  --nes-color-sticker-brand-border: var(--nes-alpha-white-100);
  --nes-color-sticker-brand-text: var(--nes-color-yellow-600);
  --nes-color-sticker-default-filled-bg: var(--nes-color-blue-600);
  --nes-color-sticker-default-filled-text: var(--nes-color-gray-100);
  --nes-color-sticker-default-border: var(--nes-alpha-white-100);
  --nes-color-sticker-default-text: var(--nes-color-light-blue-400);

  --nes-color-destructive-pressed: var(--nes-color-red-700);
  --nes-color-destructive-default: var(--nes-color-red-600);

  --nes-color-text-alert-contrast: var(--nes-color-red-400);
  --nes-color-text-alert: var(--nes-color-red-400);
  --nes-color-border-alert-contrast: var(--nes-color-red-400);
  --nes-color-border-alert: var(--nes-color-red-400);
  --nes-color-bg-alert-contrast: var(--nes-color-red-400);
  --nes-color-bg-alert: var(--nes-color-red-400);

  --nes-color-text-warning-contrast: var(--nes-color-orange);
  --nes-color-text-warning: var(--nes-color-orange);
  --nes-color-border-warning-contrast: var(--nes-color-orange);
  --nes-color-border-warning: var(--nes-color-orange);
  --nes-color-bg-warning-contrast: var(--nes-color-orange);
  --nes-color-bg-warning: var(--nes-color-orange);

  --nes-color-text-success-contrast: var(--nes-color-green);
  --nes-color-text-success: var(--nes-color-green);
  --nes-color-border-success-contrast: var(--nes-color-green);
  --nes-color-border-success: var(--nes-color-green);
  --nes-color-bg-success-contrast: var(--nes-color-green);
  --nes-color-bg-success: var(--nes-color-green);
}
